body {
  background: #DBD4C4;
}
.page-header {
  background-color: $header-bg-color;
  background: $header-bg-color url(/assets/images/wasser.jpg) center center no-repeat;
  background-size: cover;
}

.content-section {
  h1, h2, h3, p, ul {
    max-width: $max-width;
    margin-left: auto; margin-right: auto;
  }
}

.project-tagline {
  opacity: 1;
}

.tickets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

.tickets__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include large {
    justify-content: space-between;
  }

  @include medium {
    justify-content: center;
  }

  @include small {
    justify-content: center;
  }
}

.content-section .ticket:first-child { /* reset layout default */
  margin-top: 8px;
}

.ticket {
  width: 208px;
  height: 192px;
  border: 8px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Mono", sans-serif;
  font-size: 1em;
  margin: 8px;
}

a.ticket {
  color: white;
}

a.ticket:hover {
  text-decoration: none;
  background: white;
  box-shadow: 12px 12px 0px 0px $main-orange;
  cursor: pointer;
  color: $main-purple;
}

.ticket__name {
  padding: 16px 8px 0px 8px;
}

.ticket__description {
  text-align: center;
  font-size: 1em;
}

.ticket__price {
  padding: 0 8px 16px 8px;
}

.sponsor__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor__logo {
  width: 264px;
  margin: 8px;
}

.sponsor__text {
  font-family: "Roboto Mono", sans-serif;
  margin: 8px;
}

.sponsor__logo img {
  max-width: 264px;
}
