<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#C74948">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Mono:400|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
  </head>
  <body>
    <section class="page-header">
      <div class="header-box">
        <a href="{{ site.baseurl }}/"><img src="/assets/images/header.svg" aria-hidden="true"></a>
      </div>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="content-section site-footer">
        <p>Organized by <a href="https://www.bootev.org/">BOOT e.V.</a> (<a href="{{ site.baseurl }}{% link imprint.md %}">Imprint / Impressum</a>)</p>
        <p>
          <a href="https://dnsimple.link/resolving-rubyunconf" >
            <span>Resolving with<br/></span>
            <img src="https://cdn.dnsimple.com/assets/resolving-with-us/logo-light.png" alt="DNSimple" style="display:block;margin:0;padding:0;width:100px;"/>
          </a>
        </p>
        <p>
          <a href="https://www.freshworks.com/">
            <span>Email via Freshdesk by<br/></span>
            <img src="/assets/images/sponsors/freshworks.png" alt="Freshworks" style="display:block;margin:0;padding:0;width:150px;"/>
          </a>
        </p>
        <p>Header image by <a href="https://www.flickr.com/photos/basq/8602547855/in/album-72157604005131955/">Jens Comiotto-Mayer
</a> used under CC BY / Modified / Thanks!</p>

      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
